<div class="plugin-api-search">
    <%- include api-navbar %>

    <% modules.forEach((module) => { %>

    <h4 id="<%- module.toString().replace('/', '') %>">
        <a href="#/<%- route %>?id=<%- module.toString().replace('/', '') %>"
           data-id="<%- module.toString().replace('/', '') %>" class="anchor">
            <span><%- module %></span>
        </a>
    </h4>

    <%- include("api-list", {module: module, symbols: symbolsOf(module)}) %>

    <% }) %>
</div>